body {
    background-image: url('https://github.com/MrSpaghettiOk/UK-website-school-project/raw/main/stars_space_darkness_night_black_sky_background_hd_space.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease-in-out;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Links styled as buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
    margin: 10px;
}

.btn:hover {
    background-color: darkred;
    transform: scale(1.05);
}
h1{
    background-color: rgba(0, 0, 0, 0.75);
}
p{
    background-color: rgba(0, 0, 0, 0.75);
}